// 斷點825
$breakpoints: 825px;
// 設手機板為480px
$phonebreakpoints: 480px;
body{
    height: auto;
}
h1{
    &{
        @media screen and (max-width:$phonebreakpoints) {
            font-size: 1.2rem;
        }
    }
}
header nav .nav-menu .nav-user-navigation .ul-navigation li.item5 {
    font-weight: bold;

    &:hover {
        background-color: unset;
    }
}
main {
    min-height: 100vh;
    section.system {
        .nav-navigation {
            li.item3 {
                font-weight: bold;

                &:hover {
                    background-color: unset;
                }
            }
        }
    }

    section.container {
        width: calc(100% - 200px);
        height: 100%;
        gap: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        overflow: auto;

        & {
            @media screen and (max-width:$breakpoints) {
                width: 100%;
            }
            @media screen and (max-width:$phonebreakpoints) {
                padding: 0.5rem;
            }
        }

        .settings {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1.5rem;

            .basic {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .item {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    min-height: 40px;
                    margin: 5px;

                    input[type="text"] {
                        height: 30px;
                        width: calc(100% - 310px);
                        min-width: 200px;
                        border: unset;
                        background-color: #F3F3F3;
                        text-align: center;
                    }

                    .add-rows {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;
        
                        input,select {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
        
                        
                        
                        select {
                            color: black;
                            appearance: none;
                            height: 50px;
                            min-width: 200px;
                            width: 100%;
                            padding: 0px 1rem;
                            text-align: center;
                            position: relative;
                            border: unset;
                            background-color: #F3F3F3;
                            background-image: url("../img/arrow.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center right;
                        }
        
                        .add-btn, input[type="submit"]{
                            width: 200px;
                            min-width: 200px;
                            border: unset;
                            height: 50px;
                            background-color: #AEAEAE;
                            color: white;
                            font-weight: bold;
                            font-size: 1.5rem;
                            transition: background-color .3s linear;
                            padding: .5rem 1rem;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            &:hover {
                                background-color: #9E9E9E;
                            }
        
                            &:active {
                                background-color: #DBDBDB;
                            }
                        }
                    }

                    .add-row2{
                        select.select-up-down{
                            width: 80%;
                            min-width: 200px;
                        }  
                    }


                    .item-title1 {
                        height: 100%;
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: bold;
                        &{
                            @media screen and (max-width:$phonebreakpoints) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .item-title {
                        height: 100%;
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: bold;
                        &{
                            @media screen and (max-width:$phonebreakpoints) {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    .item-subitem {
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: 100%;
                        font-weight: bold;
                        flex-wrap: wrap;
                        white-space: normal;
                        gap: .3rem;
                        &{
                            @media screen and (max-width:$phonebreakpoints) {
                                font-size: 1.2rem;
                            }
                        }

                        input[type="number"] {
                            width: 100px;
                            margin: 0px 5px;
                            border: unset;
                            background-color: #EAEAEA;
                            height: 100%;
                            border-radius: 5px;
                            font-size: 1.2rem;
                            text-align: center;
                            padding: 5px;
                        }

                        .card-number{
                            background-color: #F3F3F3;
                            margin: 10px;
                            padding: 5px;

                            form label{
                                margin: 5px;
                            }
                        }

                        div {
                            div {
                                display: flex; 
                                align-items: center;

                                p {
                                    width: 50px;
                                }

                                select {
                                    color: black;
                                    appearance: none;
                                    height: 35px;
                                    width: 200px;
                                    padding: 0px 1rem;
                                    margin: 10px;
                                    text-align: center;
                                    position: relative;
                                    border: unset;
                                    background-color: #F3F3F3;
                                    background-image: url("../img/arrow.png");
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center right;
                                }

                                form .long-input {
                                    width: 200px;
                                     margin: 10px;
                                }
                            }

                            .new-rewards {
                                

                                button{
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 25px;
                                    border: unset;
                                    background-color: #AEAEAE;
                                    color: white;
                                    font-weight: bold;
                                    font-size: 1.5rem;
                                    transition: background-color .3s linear;
                                    padding: .5rem 1rem;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    &:hover {
                                        background-color: #9E9E9E;
                                    }
                    
                                    &:active {
                                        background-color: #DBDBDB;
                                    }
                                }
                            }
                        }

                        form {
                            height: 100%;
                            font-size: 1.2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            white-space: nowrap;
                            &{
                                @media screen and (max-width:$phonebreakpoints) {
                                    font-size: 1.2rem;
                                }
                            }

                            a {
                                font-size: 1.5rem;
                                margin: 0rem .5rem;
                                &{
                                    @media screen and (max-width:$phonebreakpoints) {
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            input[type="number"] {
                                width: 100px;
                                margin: 0px 5px;
                                border: unset;
                                background-color: #EAEAEA;
                                height: 100%;
                                border-radius: 5px;
                                font-size: 1.2rem;
                                text-align: center;
                                padding: 5px;
                            }
                        }

                        input[type="submit"] {
                            width: 50px;
                            height: 50px;
                            border-radius: 25px;
                        }

                        .label-group {
                            max-width: 200px;
                            min-width: 120px;
                            flex-grow: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            label {
                                width: 100%;
                                height: 30px;
                                background-color: #E6E6E6;
                                font-size: 1.2rem;
                                font-weight: bold;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #323232;
                                border: unset;
                                transition: background-color .3s linear;
                                cursor: pointer;

                                &:hover {
                                    background-color: #9E9E9E;
                                }

                                &:active {
                                    background-color: #DBDBDB;
                                }
                            }

                            input[type="file"] {
                                width: 100%;
                                margin: auto;
                                &::file-selector-button {
                                    display: none;
                                }
                            }
                        }

                        select {
                            color: black;
                            appearance: none;
                            height: 30px;
                            min-width: 130px;
                            padding: 0px 1rem;
                            text-align: center;
                            position: relative;
                            border: unset;
                            background-color: #F3F3F3;
                            background-image: url("../img/arrow.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center right;
                        }

                        form label {
                            margin: 5px;
                        }
                    }

                    
                }
            }

            .ticker {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: .5rem;
                width: 100%;

                h1 {
                    white-space: normal;
                }
                .text-group {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: .3rem;
                    .text{
                        background-color: #EAEAEA;
                        border: unset;
                        height: 50px;
                        width: 100%;
                        max-width: 700px;
                        min-width: 280px;
                        font-size: 1.5rem;
                        text-align: start;
                        &{
                            @media screen and (max-width:$phonebreakpoints) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        .save {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            button{
                width: 180px;
                border: unset;
                height: 50px;
                background-color: #AEAEAE;
                color: white;
                font-weight: bold;
                font-size: 1.5rem;
                transition: background-color .3s linear;
                padding: .5rem 1rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background-color: #9E9E9E;
                }

                &:active {
                    background-color: #DBDBDB;
                }
            }
        }
    }
}