header nav .nav-menu .nav-user-navigation .ul-navigation li.item1 {
    font-weight: bold;

    &:hover {
        background-color: unset;
    }
}
main {
    section.system {
        .nav-navigation {
            li.item1 {
                font-weight: bold;

                &:hover {
                    background-color: unset;
                }
            }
        }
    }
}